# Virtual environments
.venv/
venv/
.env/

# Python cache & build artifacts
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# OS / editor junk
.DS_Store
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Project outputs
output/
figures/
*.fif
*.csv
*.pdf
